# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# DeepFace / AI Cache
*.pkl
backend/images/

# Data
backend/attendance.csv

# Node / React
node_modules/
frontend/build/
.eslintcache
.pnp
.pnp.js

# Misc
.DS_Store
.vscode/